body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 1px solid lightgrey;
  padding: 20px;
}

#length-label {
  display: flex;
  justify-content: space-evenly;
}
#countBtn {
  display: flex;
  justify-content: space-evenly;
}
#length-count {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

#length-label {
  display: flex;
  justify-content: space-evenly;
}

#timer-panel {
  text-align: center;
}
